/* About Section Styling */
section{
    padding-top:40px;
  }
  section .content{
    width:80%;
    margin:40px auto;
    font-family: 'Poppins', sans-serif;
  }
  section .title{
    display:flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  section .title span{
    color:var(--black-color);
    font-size: 30px;
    font-weight: 600;
    position:relative;
    padding-bottom:8px;
  }
  section .title span::before,
  section .title span::after{
    content:'';
    position:absolute;
    height:3px;
    width:100%;
    background:var(--primary-color);
    left:0;
    bottom:0;
  }
  section .title span::after{
    bottom:-7px;
    width:70%;
    left:50%;
    transform:translateX(-50%);
  }
  .about .about-details{
    display:flex;
    justify-content:space-between;
    align-items: center;
  }
  .about .about-details .left{
    width:45%;
  }
  .about .left img{
    height:400px;
    width:400px;
    object-fit: cover;
    border-radius: 12px;
  }
  .about .about-details .right{
    width:55%;
  }
  section .topic{
    color:var(--black-color);
    font-size:25px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .about-details .right p{
    text-align: justify;
    color:var(--black-color);
  }
  section .button{
    margin:16px 0;
  }
  section .button button{
    outline:none;
    padding:8px 16px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background: var(--primary-color);
    color:var(--white-color);
    border:2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  section .button button:hover{
    border-color:var(--primary-color);
    background-color: var(--white-color);
    color:var(--primary-color);
  }